[project]
	description = KernelX for msm8996 Xiaomi devices (Gemini, Capricorn, Natrium, Lithium and Scorpio). Ask permission before using. You can contact me @ XDA or mail me request permission
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Henrique Pereira (Hlcpereira)
[access "refs/for/refs/*"]
	read = group user/Henrique Pereira (Hlcpereira)
	push = group user/Henrique Pereira (Hlcpereira)
	label-Code-Review = -2..+2 group user/Henrique Pereira (Hlcpereira)
	label-Verified = -1..+1 group user/Henrique Pereira (Hlcpereira)
	rebase = group user/Henrique Pereira (Hlcpereira)
	removeReviewer = group user/Henrique Pereira (Hlcpereira)
	submit = group user/Henrique Pereira (Hlcpereira)
[access "refs/heads/*"]
	read = group user/Henrique Pereira (Hlcpereira)
	create = group user/Henrique Pereira (Hlcpereira)
	push = +force group user/Henrique Pereira (Hlcpereira)
	pushMerge = group user/Henrique Pereira (Hlcpereira)
[access "refs/tags/*"]
	push = group user/Henrique Pereira (Hlcpereira)
	push = +force group user/Henrique Pereira (Hlcpereira)
